.custom-navbar {
  background-color: #0FFCBE !important;
  font-weight: bold;
  color: black !important;
}
body{
 background-color: #106EBE !important;
 color: white !important; 
 font-family: 'Poppins', sans-serif !important;
}
.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button, .btn {
  background-color:#0FFCBE;
}
 p, span, h1, h2, h3, h4, h5, h6, a, label {
  color: white !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.content-wrapper {
  padding-top: 70px; /* Adjust this based on your navbar height */
color: black;
}


.App-header {
  background-color: #0FFCBE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
